{% extends 'base.html' %}

{% block content %}
    <h1>Inicio</h1>
    <h3>Registros</h3>
    <ul>
        <li><a href="/registro/organizador">Registro Organizador</a></li>
        <li><a href="/registro/dirigente">Registro Dirigente</a></li>
    </ul>
    <h3>Login</h3>
    <ul>
        <li><a href="/login">Login</a></li>
    </ul>

    <h3>Torneos</h3>
    <ul>
        {% if torneos %}
            {% for torneo in torneos %}
                <li><a href="/torneo/{{ torneo.id }}">{{ torneo.nombre }}</a></li>
            {% endfor %}
        {% else %}
            <li>Actualmente no hay torneos creados</li>
        {% endif %}
    </ul>
{% endblock content %}